@inject IAccountService _storage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (_storage.User == null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UserIdPath">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="selector">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Selector
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@ZoneUri">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Zone
            </NavLink>
        </div>

        if (IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="schedule">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Zone
                </NavLink>
            </div>
        }
        }
    </nav>
</div>

@code {


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool collapseNavMenu = true;
    private string ZoneUri;
    private string UserIdPath;
    private bool IsAdmin;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await _storage.Get();
        if (_storage.User != null)
        {
            IsAdmin = _storage.User.IsAdmin;
            UserIdPath = "profile/" + _storage.User.Id.ToString();
            if (_storage.User.lastZoneUri == string.Empty) ZoneUri = "selector";
            else ZoneUri = _storage.User.lastZoneUri;
        }
        StateHasChanged();
    }
}
